.container{
    border: 2px solid red;
    height: 90vh;
    width: 90vw;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    height: 100px;
    width: 100px;
    margin: 100px;
    /* background-color: red; */
    position: relative;
    animation-name: slide;
    animation-duration: 7s;
    /* transform: translateX(200px); */
    /* transition: all;
    transition-duration: 8s; */
    /* transition-delay: 1s; */
    /* transition-timing-function: cubic-bezier(0.88, 0.04, 0.07, 1.13); */
}
/* .box:hover{
    transform: translateY(200px);
    transform: scaleX(2.5);
    transform: rotate(360deg);
    transform: skewY(50deg);
     transform: ;
    background-color: aqua; 
    border-radius: 50%;
} */

@keyframes slide {
    0%{
        top: 0px;
        left: 0px;
        background-color: aqua;
        transform: rotate(0deg);
        
    }
    25%{
        top: 0px;
        left: 400px;
        background-color: rgb(0, 255, 55);
        border-radius: 50%;
        border: 10px double red;
    }
    50%{
        top: 200px;
        left: 400px;
        background-color: rgb(0, 8, 255);
        border-radius: 0%;
        border: 10px dashed rgb(0, 255, 68);
    }
    75%{
        top: 200px;
        left: 0px;
        background-color: aqua;
        border-radius: 50%;
        border: 10px solid red;
    }
    100%{
        top: 0px;
        left: 0px;
        background-color: rgb(255, 0, 0);
        transform: rotate(360deg);
        border-radius: 0%;
    }
}