body{
    background-color: #F7F4ED;
}
.container1{
    /* border: 2px solid red; */
    height: 12vh;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}
.container2{
    /* border: 2px solid green; */
    height: 74vh;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}
.container3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    /* border: 2px solid blue; */
    height: 12vh;
}
.child1{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid aqua; */
    width: 50%;
    margin: 2px;
    padding-left: 30px;
}
.child2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid orchid; */
    width: 50%;
    margin: 2px;
}
.child3{
    /* border: 2px solid orange; */
    width: 60%;
    margin: 2px;
}
.child4{
    /* border: 2px solid gray; */
    width: 40%;
    margin: 2px;
}
a{
    text-decoration: none;
    color: black;
}
.btn{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.heading{
    font-size: 70px;
    margin: 20px;
    margin-left: 40px;
    font-weight: 400;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}
h4{
    font-size: 20px;
    margin-left: 40px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
button{
    margin-left: 40px;
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 40px;
}
img{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}