
/* .container{
    border: 2px solid red;
    height: 300px;
    width: 300px;
    padding: 400px;
    border-radius: 50%;
    background-color: red;
}
.container1{
    border: 2px solid green;
    height: 200px;
    width: 200px;
   padding-left: 50px;
    margin-top: 50px;
    border-radius: 50%;
    background-color: green;
}
.container2{
    border: 2px solid blue;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 50px;
    border-radius: 50%;
    background-color: blue;
} */

.conatiner{
    border: 3px double red;
    display: flex;
    height: 500px;
    /* width: 500px; */
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* flex-wrap: wrap; */
    /* align-content: space-around; */
}
.item{
    border: 2px solid green;
    /* height: 100px;
    width: 100px; */
}
#item1{
    /* align-self: center; */
    order: 1;
    /* flex-grow: 3; */
    flex-shrink: 2;
}
#item3{
    /* align-self: center; */
    order: 2;
    /* flex-grow: 2; */
    flex-basis: 300px;
    align-self: center;
}
#item5{
    /* align-self: center; */
    order: 3;
    /* flex-grow: 4; */
}
